#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* colors variables for bg and text */
:root {
  --bg-color: #031634;
  --bg-text: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--bg-text);

}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}